<div id="loginAndRegister">
    <div class="col-lg-3">
        <div class="well bs-component">
            <form class="form-horizontal" action="#/">
                <legend>Login</legend>
                <div>
                    <label for="inputUsername" class="col-lg-2 control-label">Username</label>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="inputUsername" placeholder="Username">
                    </div>
                </div>
                <div>
                    <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                    <div class="col-lg-6">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Remember me
                            </label>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col-lg-5 col-lg-offset-2">
                        <button type="reset" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-primary" id="loginButton">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="well bs-component">
            <form class="form-horizontal" action="#/">
                <legend>Register</legend>
                <div>
                    <label for="registerUsername" class="col-lg-4 control-label">Username</label>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="registerUsername" placeholder="Username">
                    </div>
                </div>
                <div>
                    <label for="registerPassword" class="col-lg-4 control-label">Password</label>
                    <div class="col-lg-6">
                        <input type="password" class="form-control" id="registerPassword" placeholder="Password">
                    </div>
                </div>
                <div>
                    <label for="repeatRegisterPassword" class="col-lg-4 control-label">Repeat password</label>
                    <div class="col-lg-6">
                        <input type="password" class="form-control" id="repeatRegisterPassword" placeholder="Repeat password">
                    </div>
                </div>
                <div>
                    <div class="col-lg-5 col-lg-offset-4">
                        <button type="reset" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-primary" id="registerButton">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>